.Cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 125vh;
  width: 100vw;
}

.Card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  height: 150px;
}

h1 {
  width: 100%;
}